<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmcc.mybatis.bindings.mapper.BookMapper">

    <select id="select" resultType="com.ddmcc.mybatis.bindings.entity.Book"
            parameterType="com.ddmcc.mybatis.bindings.entity.Book">
        SELECT * FROM book
        WHERE 1 = 1
        <if test="v.subtract(type)">
            AND book_name like CONCAT('%', #{bookName}, '%')
        </if>
    </select>

</mapper>